    set-option -s default-terminal "screen-256color"
    # Enable mouse mode
    set -g mouse on
    bind r source-file ~/.tmux.conf\; display "Reloaded!"

    # Configurar a barra de status
    set -g status-right-length 100
    set -g status-left-length 100
    set -g status-left ""

    set -g @catppuccin_flavor 'frappe'
    # Adiciona a velocidade de rede
    set -g status-right "ᯤ "
    # Adiciona o IP da máquina
    set -ag status-right "#[fg=#{@thm_fg},bg=#{@thm_mantle}] #(hostname -I | awk '{print $1}') "
    set -ag status-right "#[fg=#{@thm_fg},bg=#{@thm_mantle}] #(sar -n DEV 1 1 | grep 'wlp3s0' | awk '{print \"↑ \" $5 \" kB/s, ↓ \" $6 \" kB/s\"}') "
    # Adiciona status
    set -ag status-right "#{E:@catppuccin_status_session}"
    # Uso de Memoria
    set -ag status-right "#[bg=#{@thm_sky},fg=#{@thm_crust}]#[reverse]#[noreverse] "
    set -ag status-right "#[fg=#{@thm_fg},bg=#{@thm_mantle}] #(awk '/MemTotal/ {total=$2} /MemAvailable/ {available=$2} END {print int((1 - available/total) * 100) \"%\"}' /proc/meminfo)"
    # Uso de CPU
    set -ag status-right "#[bg=#{@thm_red},fg=#{@thm_crust}]#[reverse]#[noreverse] "
    set -ag status-right "#[fg=#{@thm_fg},bg=#{@thm_mantle}] #(awk '/^cpu / {usage=($2+$4)*100/($2+$4+$5)} END {print int(usage)}' /proc/stat)%"

    # Adiciona uptime
    set -ag status-right "#{E:@catppuccin_status_uptime}"


    # Abrir terminal no tmux no diretório atual do arquivo
    bind - split-window -v -c "#{pane_current_path}"
    bind | split-window -h -c "#{pane_current_path}"

    # Smart pane switching with awareness of Vim splits.
    # See: https://github.com/christoomey/vim-tmux-navigator
    is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
        | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|l?n?vim?x?|fzf)(diff)?$'"
    bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h'  'select-pane -L'
    bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j'  'select-pane -D'
    bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k'  'select-pane -U'
    bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l'  'select-pane -R'
    bind-key -n 'C-l' send-keys C-l
    tmux_version='$(tmux -V | sed -En "s/^tmux ([0-9]+(.[0-9]+)?).*/\1/p")'
    if-shell -b '[ "$(echo "$tmux_version < 3.0" | bc)" = 1 ]' \
        "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\'  'select-pane -l'"
    if-shell -b '[ "$(echo "$tmux_version >= 3.0" | bc)" = 1 ]' \
        "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\\\'  'select-pane -l'"

    bind-key -T copy-mode-vi 'C-h' select-pane -L
    bind-key -T copy-mode-vi 'C-j' select-pane -D
    bind-key -T copy-mode-vi 'C-k' select-pane -U
    bind-key -T copy-mode-vi 'C-l' select-pane -R

    # Carregar plugins
    run ~/.config/tmux/plugins/catppuccin/tmux/catppuccin.tmux

